div {
  position: absolute;
  border: 20px solid transparent; /* Default border */
  border-radius: 50%; /* Creates arc shape */
  width: 30em;
  height: 15em;
}

/* Set the correct border-top-color for each div */
#red {
  border-top-color: #f00;
}

#orange {
  border-top-color: #ffa500;
  width: 27em;
  height: 13.5em;
}

#yellow {
  border-top-color: #ff0;
  width: 24em;
  height: 12em;
}

#green {
  border-top-color: #00bc3f;
  width: 21em;
  height: 10.5em;
}

#blue {
  border-top-color: #06f;
  width: 18em;
  height: 9em;
}

#indigo {
  border-top-color: #8a2be2;
  width: 15em;
  height: 7.5em;
}

#violet {
  border-top-color: #d300c9;
  width: 12em;
  height: 6em;
}